.logout-button-navbar{
    color: rgb(0, 120, 192);
    background-color: transparent;
    border: rgb(0, 96, 144) solid 2px;
    border-radius: 5px;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.logout-button-navbar:hover {
    background-image: linear-gradient(rgb(0, 96, 144), rgb(0, 96, 192));
    cursor: pointer;
    color: white;
}