.individual-pokemon-display{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .individual-pokemon-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}

@media only screen and (min-width: 600px){
    .individual-pokemon-cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: space-between;
    }
}
/* .individual-pokemon-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-between;
} */

.fav-button{
    height: 10%;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgb(0, 96, 144), rgb(0, 96, 192));
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 5px;
    font-size: x-large;
    color: white;
}

.fav-button:hover{
    cursor: pointer;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    border: rgb(0, 120, 192) solid 2px;
    color: rgb(0, 120, 192);
}