.card-mockup{
    width: 252px;  /* original: 6.3cm*/
    height: 352px; /* original: 8.8cm*/
    border: solid black 3px;
    border-radius: 10px;
    transition: 300ms;
}

.card-mockup:hover {
    transform: rotateY(180deg);
}

.turned {
    background-color: brown;
}