.login-form-container{
    height: auto;
    width: 300px;
    background-image: linear-gradient(rgb(0, 96, 144), rgb(0, 96, 192));
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    border-radius: 10px;
    padding: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.808);
}

.login-form-title{
    font-size: xx-large;
    font-weight: bold;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.login-form-name-input-container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.login-form-name{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

#login-form-input{
    font-size: x-large;
    border: white solid 2px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

#login-form-input::placeholder{
    color: white;
}

#login-form-input:focus{
    outline: none;
}

.login-form-button{
    cursor: pointer;
    font-size: x-large;
    background-color: transparent;
    color: white;
    border: white solid 2px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.login-form-button:hover {
    background-color: white;
    color: rgb(0, 96, 144);
}