#card-front-side{
    width: 252px;  /* original: 6.3cm*/
    height: 352px; /* original: 8.8cm*/
    border: solid black 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
    background-color: white;
    font-size: xx-large;
    text-align: center;
}

.pokemon-icon-container {
    width: 230px; 
    height: 176px; 
    border: solid black 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
}

.pokemon-icon-container img {
    width: 75%;
    height: auto;
}

.name {
    margin-bottom: 50px;
}