@media only screen and (min-width: 600px) {
    .navbar-container {
        display: grid;
        grid-template-columns: [search] 33% [logo] 33% [profile] 33%;
        height: 60px;
        width: 90vw;
        justify-content: center;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }

    .navbar-item:nth-child(1){
        justify-self: left;
    }

    .navbar-item:nth-child(2){
        justify-self: center;
    }

    .navbar-item:nth-child(3){
        justify-self: right;
    }
        
    .user {
        display: flex;
        justify-content: center;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        border: solid rgb(0, 96, 144) 3px;
        background-color: transparent;
        cursor: pointer;
    }
        
    .user a{
        text-transform: capitalize;
        text-decoration: none;
        color: rgb(0, 96, 144);
        font-size: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }
        
    .vertical-align-navbar{
        margin-top: auto;
        margin-bottom: auto;
    }
        
    .title-navbar{
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
        
    .title-navbar:hover {
        color: rgb(117, 117, 117);
    }
        
    .login-button-navbar{
        font-size: larger;
        color: rgb(0, 120, 192);
        background-color: transparent;
        border: rgb(0, 96, 144) solid 2px;
        border-radius: 5px;
        font-size: x-large;
        padding-left: 20px;
        padding-right: 20px;
    }
        
    .login-button-navbar:hover {
        background-color: rgb(0, 96, 144);
        cursor: pointer;
        color: white;
    }
        
    .search-icon{
        height: 130%;
        width: 130%;
        cursor: pointer;
        color: rgb(0, 120, 192);
    }
        
    .login-button {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-container {
        display: grid;
        width: 80vw;
        margin-top: 10px;
        grid-template-rows: 50px 50px;
        grid-template-columns: 20vw 20vw 20vw 20vw;
        grid-template-areas:
            "search . . login"
            ". title title .";
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-item:nth-child(1){
        grid-area: search;
        /* grid-area: column-1;
        text-align: left; */

    }

    .navbar-item:nth-child(2){
        /* grid-area: column-2;
        text-align: center; */
        grid-area: title;
        text-align: center;
    }

    .navbar-item:nth-child(3){
        /* grid-area: column-3;
        text-align: right;
        background-color: darkcyan; */
        grid-area: login;
    }

    .justify-left{
        justify-self: left;
    }
        
    .justify-center{
        justify-self: center;
    }
        
    .justify-right{
        justify-self: right;
    }
        
    .user {
        display: flex;
        justify-content: center;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        border: solid rgb(0, 96, 144) 3px;
        background-color: transparent;
        cursor: pointer;
    }
        
    .user a{
        text-transform: capitalize;
        text-decoration: none;
        color: rgb(0, 96, 144);
        font-size: 30px;
        margin-top: auto;
        margin-bottom: auto;
    }
        
    .vertical-align-navbar{
        margin-top: auto;
        margin-bottom: auto;
    }
        
    .title-navbar{
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
        
    .title-navbar:hover {
        color: rgb(117, 117, 117);
    }
        
    .login-button-navbar{
        font-size: larger;
        color: rgb(0, 120, 192);
        background-color: transparent;
        border: rgb(0, 96, 144) solid 2px;
        border-radius: 5px;
        font-size: x-large;
        padding-left: 20px;
        padding-right: 20px;
    }
        
    .login-button-navbar:hover {
        background-color: rgb(0, 96, 144);
        cursor: pointer;
        color: white;
    }
        
    .search-icon{
        height: 130%;
        width: 130%;
        cursor: pointer;
        color: rgb(0, 120, 192);
    }
        
    .login-button {
        margin-top: auto;
        margin-bottom: auto;
    }
}

